@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <h2><span class="label label-default">@ViewBag.Message</span></h2>
    <ul class="list-inline">
        <li class="list-group-item">@Html.ActionLink("Page 1", "page1")</li>
        <li class="list-group-item">@Html.ActionLink("Page 2", "page2")</li>
        <li class="list-group-item">Page 3</li>
    </ul>
</div>