@{
    Layout = null;
    ViewBag.Title = "Home Page";
}


    <div>
        <h2>@ViewBag.Message</h2>
        <ul>
            <li>Page 1</li>
            <li>Page 2</li>
            <li>Page 3</li>
        </ul>
    </div>