
@{
    ViewBag.Title = "Page1";
}

<h2>@ViewBag.Message</h2>

<form method="get" action="/Home/Page1">
    <label for="temp">Temperature: </label>
    <input type="number" name="temp" value="" />
    <label for="c">C</label>
    <input type="radio" name="c" value="F" />
    <label for="f">F</label>
    <input type="radio" name="f" value="C" />

    <input type="submit" name="submit" value="Submit" />
</form>