
@{
    ViewBag.Title = "Page2";
}

<h2>@ViewBag.Message</h2>

<div class="form-group">
    <form method="post" action="/Home/page2">

        <label for="temp">Temperature: </label>
        <input type="number" class="form-control" name="temp" value="" required/>
        <br />
        <div class="radio-inline">
            <label for="c"> C </label>
            <input type="radio" name="optradio" value="C" checked />
        </div>
        <div class="radio-inline">
            <label for="f"> F </label>
            <input type="radio" name="optradio" value="F" />
        </div>

        <input type="submit" class="btn btn-primary" name="submit" value="Submit" />
    </form>
</div>

<h3>@ViewBag.result</h3>