
@{
    ViewBag.Title = "Page2";
}

<h2><span class="label label-default">@ViewBag.Message</span></h2

@*This is a post form. Its much better.It posts it to a new view in the controller.*@

<div class="form-group">
    <form method="post" action="/Home/page2">

        <label for="temp">Temperature: </label>
        <input type="number" class="form-control" name="temp" value="" required/>
        <br />
        <div class="radio-inline">
            <label for="c"> C </label>
            <input type="radio" name="optradio" value="C" checked />
        </div>
        <div class="radio-inline">
            <label for="f"> F </label>
            <input type="radio" name="optradio" value="F" />
        </div>

        <input type="submit" class="btn btn-primary" name="submit" value="Submit" />
    </form>
</div>

<h1><span class="label label-danger">@ViewBag.result1</span> @ViewBag.eq <span class="label label-success">@ViewBag.result2</span></h1>