@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Homework 8</h1>
    <p class="lead"></p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
      
    </div>
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
       
    </div>
</div>