
@{
    ViewBag.Title = "GifSearcher3000";
}

<div class="row">
    <div class="col-lg-12">
        <h2 class="text-center"><span class="label label-primary">GifSearcher3000</span></h2>
    </div>
</div>
<div class="col-lg-6">
    <form>
        <div class="form-group">
            @*Text input for gif searching.*@
            <h2><label for="Search" class="label label-primary">Search gifs.</label></h2>
            <input id="Search" name="Search" type="text" value="cats" class="form-control" />
        </div>
        @*Buttom to submit search request.*@
        <input id="SearchRequest" name="SearchRequest" type="button" value="Search" class="btn btn-lg btn-primary" />
    </form>
    <div class="col-lg-6">
        <div id="GifSearchResult"></div>
    </div>
</div>

@section PageScripts
{
    <script type="text/javascript" src="~/Scripts/Search.js"></script>
}