@model IEnumerable<homework6.Models.ProductCategory>

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="jumbotron">
        <h2 class="page-header text-center text-left text-primary">AdventureWorks.</h2>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <img class="img-responsive img-rounded" src="~/Content/lotrbikes.jpg" />
            </div>
            <div class="col-lg-3"></div>
        </div>
        <p class="text-center lead text-info">
            “It's a dangerous business, Frodo, going out your door. <br />
            You step onto the road, and if you don't keep your feet, <br />
            there's no knowing where you might be swept off to.”<br />
        </p>
        <p></p>
        <h3 class="text-center text-danger">So make sure you gear up properly!</h3>
    </div>
</div>