@model IEnumerable<homework6.Models.ProductCategory>

@{
    ViewBag.Title = "Index";
}

<h2 class="page-header text-center text-info">AdventureWorks.</h2>
<p></p>
<p class="text-center">“It's a dangerous business, Frodo, going out your door. <br />
    You step onto the road, and if you don't keep your feet, <br />
    there's no knowing where you might be swept off to.”<br /></p>
<p></p>
<h3 class="text-center text-danger">So make sure you gear up properly!</h3>