@model IEnumerable<final.Models.Genre>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">Final Practice!</p> 
</div>

<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <div class="btn-group">
            @foreach (var item in Model.ToList())
            {
                <button class="btn btn-primary" onclick="Ajax('@item.GenreID');">@item.Name</button>
            }
        </div>
    </div>
    <div id="results" class="col-md-3">

    </div>
</div>

@section PageScripts
{
    <script type="text/javascript" src="~/Scripts/local.js"></script>
}