@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Reginald's Ancient Antiquities Auction House</h1>
    <p class="lead">Buy stuff!</p>
</div>

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>