
@{
    ViewBag.Title = "GifSearcher3000";
}

<div class="row">
    <div class="col-lg-12">
        <h2 class="text-center"><span class="label label-primary">GifSearcher3000</span></h2>
    </div>
</div>
<div class="col-lg-6">
    <form>
        <div class="form-group">
            @*Text input for gif searching.*@
            <h2><label for="SearchText" class="label label-primary">Search gifs.</label></h2>
            <input id="SearchText" name="SearchText" type="text" value="cats" class="form-control" />
        </div>
        <label for="limit" class="label label-primary">How many?</label>
        <input id="limit" name="limit" type="number" min="1" max="20" step="1" value="1" />
        <label for="rating" class="label label-primary">Rating?</label>
        <select class="form-control" id="rating">
            <option value="y">Youth</option>
            <option value="g">G</option>
            <option value="pg">PG</option>
            <option value="pg-13">PG-13</option>
        </select>

        @*Buttom to submit search request.*@
        <input id="SearchButton" name="SearchButton" type="button" value="Search" class="btn btn-lg btn-primary" />
    </form>
    <div class="col-lg-6">
        <div id="results"></div>
    </div>
</div>

@section PageScripts
{
    <script type="text/javascript" src="~/Scripts/Search.js"></script>
}